@font-face {
  font-family: "iconfont"; /* Project id 3558102 */
  src: url('//at.alicdn.com/t/c/font_3558102_04rap9o6yuvi.woff2?t=1659966977981') format('woff2'),
       url('//at.alicdn.com/t/c/font_3558102_04rap9o6yuvi.woff?t=1659966977981') format('woff'),
       url('//at.alicdn.com/t/c/font_3558102_04rap9o6yuvi.ttf?t=1659966977981') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang-tupian:before {
  content: "\eb98";
}

.icon-dakai:before {
  content: "\ebdf";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-huanyuanhuabu:before {
  content: "\ec13";
}

.icon-quanping:before {
  content: "\ec14";
}

.icon-liebiao:before {
  content: "\ec6b";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-shanchu:before {
  content: "\ec7b";
}

.icon-tupiantianjia:before {
  content: "\ec7d";
}

.icon-qiapianmoshi_kuai:before {
  content: "\ec7e";
}

.icon-fenlan:before {
  content: "\ec7f";
}

.icon-charutupian:before {
  content: "\ec80";
}

.icon-juzhongduiqi:before {
  content: "\ec81";
}

.icon-youduiqi:before {
  content: "\ec82";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-zitibiaoti:before {
  content: "\ec84";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

.icon-zitiyanse:before {
  content: "\ec87";
}

.icon-zuoduiqi:before {
  content: "\ec88";
}

.icon-zuoyouduiqi:before {
  content: "\ec89";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-aixin:before {
  content: "\eca2";
}

.icon-duigou_kuai:before {
  content: "\ed1d";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-jia_sekuai:before {
  content: "\ed21";
}

.icon-jian_sekuai:before {
  content: "\ed22";
}

.icon-shouruqingkuang:before {
  content: "\e62d";
}

.icon-fanhuidingbu:before {
  content: "\e62e";
}
